* {
    box-sizing: border-box;
}

:root {
    --aero: #815bebff;
    --maize: #FDE74C;
    --yellow-green: #b0e242;
    --persian-red: #e64c49;
    --raisin-black: #211A1E;
    --vanish-gray: #bbbbbb;
}

h1 {
    text-align: center;
    font-family: 'Times new roman', serif;
    color: var(--raisin-black);
}

button {
    font-family: 'Times new roman', serif;
    font-weight: 600;
}

#new-game {
    background: var(--maize);
    border: 1px var(--raisin-black) solid;
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3.5rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.filled-box {
    border: 2px solid var(--raisin-black);
}

.letter-row {
    display: flex;
}

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Times new roman', serif;
    background: none;
    border: 1px var(--raisin-black) solid;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 0 2px;
    min-width: 3rem;
    min-height: 2.5rem;
    cursor: pointer;
    text-transform: uppercase;
}

.keyboard-button:hover {
    background: lightgray;
}

.hover-green:hover {
    background: var(--yellow-green);
}

.hover-red:hover {
    background: var(--persian-red);
}

#modal-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    border-radius: 2px;
    border: 1px var(--raisin-black) solid;
    padding: 0.5rem;
    width: 50vw;
    height: 90vh;
}

#modal-overlay[data-active="true"] {
    display: block;
}

#modal-overlay[data-active="false"] {
    display: none;
}

.new-game-button {
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 700;
    color: var(--raisin-black);
    background: var(--maize);
    border: 1px var(--raisin-black) solid;
    border-radius: 3px;
    color: var(--raisin-black);
    cursor: pointer;
}